<a href="https://colab.research.google.com/github/Oleksy1121/Machine-Learning/blob/main/Udemy/02_braki_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import sklearn

In [3]:
data = {
    'size' : ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color' : ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender' : ['fema;e', 'male', np.nan, 'female', 'female', 'male'],
    'price' : [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight' : [500, 450, 300, np.nan, 410, np.nan],
    'bought' : ['yes', 'no', 'yes', 'no','yes', 'no']
}

df_raw = pd.DataFrame(data = data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

Utworzenie kopii

In [4]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   6 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  4 non-null      float64
 5   bought  6 non-null      object
dtypes: float64(2), object(4)
memory usage: 416.0+ bytes

In [5]:
df.isnull()

    size  color  gender  price  weight  bought
0  False  False   False  False   False   False
1  False  False   False  False   False   False
2  False  False    True   True   False   False
3   True  False   False  False    True   False
4  False  False   False  False   False   False
5  False  False   False  False    True   False

In [6]:
df.isnull().sum()

size      1
color     0
gender    1
price     1
weight    2
bought    0
dtype: int64

In [7]:
df.isnull().sum().sum()

5

In [8]:
df.isnull().sum()/len(df)   ### Pokazuje braki danych w %

size      0.166667
color     0.000000
gender    0.166667
price     0.166667
weight    0.333333
bought    0.000000
dtype: float64

Uzupełnienie braków - SimpleImputer

In [9]:
from sklearn.impute import SimpleImputer

#strategy 'mean', 'median', 'most_fraquent', 'constant'
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(df[['weight']])

SimpleImputer()

In [10]:
imputer.statistics_

array([415.])

In [11]:
imputer.transform(df[['weight']])

array([[500.],
       [450.],
       [300.],
       [415.],
       [410.],
       [415.]])

In [12]:
df[['weight']] = imputer.fit_transform(df[['weight']])
df

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

In [13]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit_transform(df[['size']])

array([['XL'],
       ['L'],
       ['M'],
       ['M'],
       ['M'],
       ['M']], dtype=object)

In [14]:
df = df_raw.copy()
df

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [15]:
df.isnull().sum()

size      1
color     0
gender    1
price     1
weight    2
bought    0
dtype: int64

In [16]:
pd.isnull(df['weight'])

0    False
1    False
2    False
3     True
4    False
5     True
Name: weight, dtype: bool

In [20]:
df[pd.isnull(df['weight'])]

  size  color  gender  price  weight bought
3  NaN  green  female  129.0     NaN     no
5    M  green    male   89.0     NaN     no

In [18]:
df[~pd.isnull(df['weight'])]

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
4    M    red  female   79.0   410.0    yes

In [21]:
pd.notnull(df['weight'])

0     True
1     True
2     True
3    False
4     True
5    False
Name: weight, dtype: bool

In [22]:
df[pd.notnull(df['weight'])]

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
4    M    red  female   79.0   410.0    yes

In [23]:
df

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [25]:
df.fillna(value='brak')

   size  color  gender  price weight bought
0    XL    red  fema;e  199.0  500.0    yes
1     L  green    male   89.0  450.0     no
2     M   blue    brak   brak  300.0    yes
3  brak  green  female  129.0   brak     no
4     M    red  female   79.0  410.0    yes
5     M  green    male   89.0   brak     no

In [26]:
df['size']

0     XL
1      L
2      M
3    NaN
4      M
5      M
Name: size, dtype: object

In [33]:
df['size'].fillna(value='L', inplace = True)
df

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3    L  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [34]:
df.dropna()  #pokazyje wiersze zawierające wszystkie dane

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
4    M    red  female   79.0   410.0    yes

In [37]:
df = df.dropna()
df

  size  color  gender  price  weight bought
0   XL    red  fema;e  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
4    M    red  female   79.0   410.0    yes